@import "../lib/variables";

html {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  background-color: $rootColor;
}

main {
  width: 90%;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: $breakpoint-tablet) {
  #root {
    height: 100%;
    width: 100%;
    background-color: pink;
  }
}

@media (min-width: $breakpoint-laptop) {
  #root {
    height: 100%;
    width: 100%;
    background-color: violet;
  }
}
